* {
  margin: 0;
  padding: 0;
}
.page-container {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.background-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  animation: multiColor 2s linear infinite;
}

@keyframes multiColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.row {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;

  &:nth-child(even) {
    margin-left: 2px;
  }
}

.hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  background: #111;
  margin: 2px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.02);
    z-index: 1000;
  }

  &:after {
    content: "";
    position: absolute;
    top: 4px; 
    bottom: 4px;
    left: 4px;
    right: 4px;
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 1;
  } 

  &:hover {
    transition: 0s;
    background-color: lightcoral;
  }
}
